# System files

# Windows
Thumbs.db
desktop.ini

# macOS
.DS_Store


# IDE/Editor files

# Sublime Text
.sublime-gulp.cache
.sublime-gulp-tmp.js
sublime-gulp.log
*.sublime-workspace
*.sublime-project


# Other
node_modules/
jspm_packages/
build/
npm-debug.log*
yarn-error.log
.gulp/
