.select, select,
.textarea, textarea,
input[type="password"],
input[type="email"],
input[type="date"],
input[type="text"] {
  display: block;
  width: 100%;
}


.textarea, textarea {
  resize: vertical;
}
