ul {}

ol {}

%list--blank {
    ol,
    ul {
        list-style: none;

        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;

        li {
            display: inline-block;
        }
    }
}
