extends ../base.pug

block variables
    - var title = meta.title;
    - var description = meta.description;
    - var keywords = meta.keywords;
    - var htmlClass = 'template--front';

append styles
    link(rel="stylesheet", type="text/css", href=root+"assets/css/styles--front.css?RANDOMIZE-ME")

append scripts
    script(type="text/javascript", src=root+"assets/js/scripts--front.js?RANDOMIZE-ME", defer)

block content
    //- Content

    include ../modules/header.pug

    main.main
        include ../modules/does-it-work.pug

    include ../modules/footer.pug

    //- Content end
