section.it-works
    h1.it-works__heading #{itWorks.heading}
    h2.it-works__success
        | #{itWorks.success.message}
        +icon(itWorks.success.icon)
    p.it-works__feedback !{itWorks.copy}
