.does-it-work {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate3d(-50%, 0, 0);
  // -webkit-filter: blur(0); // Removes blurry text on Google Chrome

  width: 100%;
  max-width: 26rem;

  padding-left: .5rem;
  padding-right: .5rem;
}


.does-it-work__heading,
.does-it-work__message,
.does-it-work__feedback {
  margin-left: auto;
  margin-right: auto;

  padding-left: 2rem;
  padding-right: 2rem;
}


.does-it-work__heading {
  @include font(one);

  text-align: center;
  font-size: 1.25rem;

  @media (min-width: 26rem) {
    text-align: left;
  }
}


.does-it-work__message {
  @include font(one);

  display: none;

  position: relative;

  padding-top: 1rem;
  padding-bottom: 1rem;

  font-size: 1.25rem;

  color: #fff;

  .icon {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translate3d(0, -50%, 0);

    width: 1.5rem;

    fill: #fff;
  }
}


.does-it-work__message--success {
  display: block;

  background-color: #197400;
}


.does-it-work__message--failure {
  display: block;

  background-color: #f00;
}


.does-it-work__feedback {
  text-align: center;
  font-size: .8rem;

  color: #777;

  @media (min-width: 26rem) {
    text-align: left;
  }

  a {
    color: #444;
    text-decoration: none;

    &.hover,
    &:hover {
      text-decoration: underline;
    }
  }
}
