meta:
  title: "Static Site Generator"
  keywords: ""
  description: ""
doesItWork:
  heading: "Static Site Generator"
  icon: "tick"
  copy: "Please report any feedback or issues to: <a href=\"https://github.com/simonknittel/static-site-generator/issues\" target=\"_blank\" rel=\"noopener\">GitHub</a>"
