// Colors
$color--one: #fff;
$color--two: #333;
$color--three: #eee;

// Fonts
// Checkout _fonts.scss

// Breakpoints (http://mydevice.io/devices/)
$bp--four: 80rem; // 1280px at base font-size of 16px
$bp--three: 60rem; // 960px at base font-size of 16px
$bp--two: 40rem; // 640px at base font-size of 16px
$bp--one: 20rem; // 320px at base font-size of 16px

// Special breakpoints
$bp--desktop: 80rem; // 1280px at base font-size of 16px (desktop)
$bp--pro: 64rem; // 1024px at base font-size of 16px (huge tablets like the Surface Pro 3 or iPad Pro covered)
$bp--ipad: 48rem; // 768px at base font-size of 16px (iPad)
$bp--tablets: 32rem; // 512px at base font-size of 16px (all common smartphones covered)
$bp--smartphones: 20rem; // 320px at base font-size of 16px (minimal supported width)

// Other
$assets: '../';
$images: $assets + 'img/';
