$color--first: #fff;
$color--second: #333;
$color--third: #eee;

$background-color--first: $color--first;
$text-color--first: $color--second;

$background-color--second: $color--second;
$text-color--second: $color--first;

$background-color--third: $color--third;
$text-color--third: $color--second;
