@mixin font($font) {
    @if $font == 'one' {
        font-family: Arial, sans-serif;;
        font-weight: 400;
    } @else if $font == 'two' {
        font-family: Arial, sans-serif;;
        font-weight: 700;
    }
}
