@mixin font($font) {
    @if $font == 'one' {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    } @else if $font == 'two' {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }
}
