//
// Hide
//

.hide {
  display: none;
}

.hide--medium {
  @media only screen and (min-width: $bp--medium) {
    display: none;
  }
}

.hide--large {
  @media only screen and (min-width: $bp--large) {
    display: none;
  }
}

.centered {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $bp--large;
}


//
// Text
//

.nobr {
  white-space: nowrap;
}


//
// Text alignment
//

.text-right {
  text-align: right;
}
.text-right--medium {
  @media only screen and (min-width: $bp--medium) {
    text-align: right;
  }
}
.text-right--large {
  @media only screen and (min-width: $bp--large) {
    text-align: right;
  }
}

.text-center {
  text-align: center;
}
.text-center--medium {
  @media only screen and (min-width: $bp--medium) {
    text-align: center;
  }
}
.text-center--large {
  @media only screen and (min-width: $bp--large) {
    text-align: center;
  }
}
