//
// Grid
//

.grid__row {
    @extend %clearfix;

    display: block;
    width: 100%;
}

.grid__row--spacing {
    margin-top: $space--first;

    &:first-of-type {
        margin-top: 0;
    }

    [class*="grid__cell--"] {
        display: block;
        margin-top: $space--first;
        padding-left: $space--first;
        padding-right: $space--first;
    }
}

.grid__row--equal {
    display: table;

    [class*="grid__cell--"] {
        display: table-cell;
        vertical-align: top;
        float: none;
    }
}

[class*="grid__cell--"] {
    display: block;
    float: left;
    width: 100%;
}

.grid__cell--1 {
    width: 8.33%;
}
.grid__cell--2 {
    width: 16.66%;
}
.grid__cell--3 {
    width: 25%;
}
.grid__cell--4 {
    width: 33.33%;
}
.grid__cell--5 {
    width: 41.66%;
}
.grid__cell--6 {
    width: 50%;
}
.grid__cell--7 {
    width: 58.33%;
}
.grid__cell--8 {
    width: 66.66%;
}
.grid__cell--9 {
    width: 75%;
}
.grid__cell--10 {
    width: 83.33%;
}
.grid__cell--11 {
    width: 91.66%;
}
.grid__cell--12 {
    width: 100%;

    @media (max-width: $bp--medium) {
        display: block !important;
    }
}

.grid__cell--medium-1 {
    @media (min-width: $bp--medium) {
        width: 8.33%;
    }
}
.grid__cell--medium-2 {
    @media (min-width: $bp--medium) {
        width: 16.66%;
    }
}
.grid__cell--medium-3 {
    @media (min-width: $bp--medium) {
        width: 25%;
    }
}
.grid__cell--medium-4 {
    @media (min-width: $bp--medium) {
        width: 33.33%;
    }
}
.grid__cell--medium-5 {
    @media (min-width: $bp--medium) {
        width: 41.66%;
    }
}
.grid__cell--medium-6 {
    @media (min-width: $bp--medium) {
        width: 50%;
    }
}
.grid__cell--medium-7 {
    @media (min-width: $bp--medium) {
        width: 58.33%;
    }
}
.grid__cell--medium-8 {
    @media (min-width: $bp--medium) {
        width: 66.66%;
    }
}
.grid__cell--medium-9 {
    @media (min-width: $bp--medium) {
        width: 75%;
    }
}
.grid__cell--medium-10 {
    @media (min-width: $bp--medium) {
        width: 83.33%;
    }
}
.grid__cell--medium-11 {
    @media (min-width: $bp--medium) {
        width: 91.66%;
    }
}
.grid__cell--medium-12 {
    @media (min-width: $bp--medium) {
        width: 100%;
    }

    @media (min-width: $bp--medium) and (max-width: $bp--large) {
        display: block !important;
    }
}

.grid__cell--large-1 {
    @media (min-width: $bp--large) {
        width: 8.33%;
    }
}
.grid__cell--large-2 {
    @media (min-width: $bp--large) {
        width: 16.66%;
    }
}
.grid__cell--large-3 {
    @media (min-width: $bp--large) {
        width: 25%;
    }
}
.grid__cell--large-4 {
    @media (min-width: $bp--large) {
        width: 33.33%;
    }
}
.grid__cell--large-5 {
    @media (min-width: $bp--large) {
        width: 41.66%;
    }
}
.grid__cell--large-6 {
    @media (min-width: $bp--large) {
        width: 50%;
    }
}
.grid__cell--large-7 {
    @media (min-width: $bp--large) {
        width: 58.33%;
    }
}
.grid__cell--large-8 {
    @media (min-width: $bp--large) {
        width: 66.66%;
    }
}
.grid__cell--large-9 {
    @media (min-width: $bp--large) {
        width: 75%;
    }
}
.grid__cell--large-10 {
    @media (min-width: $bp--large) {
        width: 83.33%;
    }
}
.grid__cell--large-11 {
    @media (min-width: $bp--large) {
        width: 91.66%;
    }
}
.grid__cell--large-12 {
    @media (min-width: $bp--large) {
        display: block !important;
        width: 100%;
    }
}
