* {
    box-sizing: border-box;
}

html {
    @extend %background-color--three;
    @extend %text-color--two;
    @include font(one);

    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
}

body {}
