* {
    box-sizing: border-box;
}

html {
    @extend %background-color--three;
    @extend %text-color--two;
    @extend %font-family--one;
    
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
}

body {}
