@import 'colors';

// Grid
$grid-gutter: .5rem;

// Font
$font-family--one: Arial, sans-serif;

// Breakpoints (http://mydevice.io/devices/)
$bp--five: 80rem; // 1280px at 16px font size (desktop)
$bp--four: 64rem; // 1024px at 16px font size (huge tablets like the Surface Pro 3 or iPad Pro covered)
$bp--three: 50rem; // 800px at 16px font size (most common tablets covered)
$bp--ipad: 48rem; // 768px at 16px font size (iPad)
$bp--two: 32rem; // 512px at 16px font-size (all common smartphones covered)
$bp--one: 20rem; // 320px at 16px font-size (minimal supported width)

// Other
