@import 'colors';

$transition-time--first: .25s;
$max-width: 1280px;

// Spacing
$space--first: .5rem;
$space--second: 2rem;
$space--third: 1rem;

// Font
$font-size--largest: 3rem;
$font-size--large: 2.5rem;
$font-size--medium: 1.5rem;
$font-size--normal: 1.25rem;
$font-size--small: .875rem;
$font-size--smallest: .6rem;

// Breakpoints
$bp--large: 64rem;
$bp--medium: 32rem;
