# Deflate Compression
<IfModule mod_deflate.c>
    <FilesMatch "\.(js|jpg|jpeg|gif|png|css|html|xml|json|txt|ico)$">
        ExpiresActive on
        ExpiresDefault "access plus 1 month"
        SetOutputFilter DEFLATE
    </FilesMatch>
</IfModule>

<IfModule mod_headers.c>
    # X-UA-Compatible
    <FilesMatch "\.(htm|html|php)$">
        BrowserMatch MSIE ie
        Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
    </FilesMatch>

    #
    Header unset X-Powered-By
</IfModule>

<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    RewriteBase /

    # Remove .html from URL
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([^\.]+)$ $1.html [NC,L]
</IfModule>

# Hide information about your Apache installation
ServerSignature Off

# Do not display the files of a subdirectory without an index file
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

# Redirect all 404 sites to the root
ErrorDocument 404 https://localhost
