{{> _partials/_head title="SET-PROJECT-NAME" htmlClass="page--index"}}

<!-- Content -->

    <h1>Hello World!</h1>
    <a href="dummy.html" target="_blank">HTML</a>
    <a href="dummy" target="_blank">NO HTML</a>

<!-- Content End-->

{{> _partials/_foot}}
