block variables
    - var root = './';
    - var title = 'SET-PROJECT-NAME';
    - var description = 'SET-DESCRIPTION';
    - var keywords = 'SET-KEYWORDS';
    - var htmlClass = 'page--index';

extends ./_partials/base.jade

block content
    //- Content

    h1 Hello World!

    //- Content end
