extends ./_partials/base.pug

block variables
    - var title = meta.title;
    - var description = meta.description;
    - var keywords = meta.keywords;
    - var htmlClass = 'page--index';

block content
    //- Content

    main(role="main").it-works
        h1.it-works__heading Static Site Generator
        h2.it-works__success
            | It works!
            +icon('tick')
        p.it-works__feedback Please report any feedback or issues to: <a href="https://github.com/simonknittel/static-site-generator/issues" target="_blank">GitHub</a>

    //- Content end
