block variables
    - var root = './';
    - var title = 'SET-PROJECT-NAME';
    - var description = 'SET-DESCRIPTION';
    - var keywords = 'SET-KEYWORDS';
    - var htmlClass = 'page--index';

extends ./_partials/base.jade

block content
    //- Content

    main.it-works
        h1.it-works__heading It works!
        p.it-works__feedback Please report any feedback or issues to: <a href="https://github.com/simonknittel/static-site-generator/issues" target="_blank">GitHub</a>

    //- Content end
