{{> _partials/_head title="SET-PROJECT-NAME" htmlClass="page--index" styles="styles--index"}}

<!-- Content -->

    <h1>Hello World!</h1>

<!-- Content End-->

{{> _partials/_foot scripts="scripts--index"}}
