{{> head title="SET-PROJECT-NAME" description="SET-DESCRIPTION" keywords="SET-KEYWORDS" htmlClass="page--index"}}

<!-- Content -->

    <h1>Hello World!</h1>

<!-- Content End-->

{{> foot}}
