{{> _partials/head title="SET-PROJECT-NAME" description="SET-DESCRIPTION" keywords="SET-KEYWORDS" htmlClass="page--index" styles="styles--index"}}

<!-- Content -->

    <h1>Hello World!</h1>

<!-- Content End-->

{{> _partials/foot scripts="scripts--index"}}
